p {
  font-family: Arial;
  margin-bottom: 0;
  margin-top: 0;

}

.Div1 {
  box-shadow: 0px 0px 3px gray;
  display: inline-block;
  width: 150px;
  padding: 5px;
  padding-bottom: 10px;
}


.Img1 {
  box-shadow: 0px 0 1px gray;
  width: 160px;
  display: block;
}

.ZZP1 {
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: bold;
}

.ZZP2 {
  font-size: 12px;
  margin-bottom: 8px;
  color: gray;
}

.ZZP3 {
  background-color: #0a66c2;
  color: whitesmoke;
  border: none;
  font-size: 10px;
  padding: 8px;
  width: 85px;
  border-radius: 5px;
}
